<div id="fb-root"></div>

<div id="main" role="main">
  <section class="slider">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <%=image_tag "kitchen_adventurer_caramel.jpg"%>
          <div>
            <div class="panel">
              <div class="fb-comments" data-href="http://www.plupets.com" data-num-posts="10" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
        <li>
          <%=image_tag "kitchen_adventurer_lemon.jpg"%>
          <div>
            <div class="panel">
              <div class="fb-comments" data-href="http://www.plupets.com" data-num-posts="10" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
            <p></p>
          </div>
        </li>
        <li>
          <%=image_tag "kitchen_adventurer_donut.jpg"%>
          <div>
            <div class="panel">
              <div class="fb-comments" data-href="http://www.plupets.com" data-num-posts="10" data-width="470"></div>
              <p></p>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
        <li>
          <%=image_tag "kitchen_adventurer_caramel.jpg"%>
          <div>
            <div class="panel">
              <div class="fb-comments" data-href="http://www.plupets.com" data-num-posts="10" data-width="470"></div>
              <p></p>
            </div>
            <div class="flip">Show/Hide lol Panel</div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
<!-- jQuery -->

