<div id="fb-root"></div>
<div id="main" role="main">
  <section class="slider">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="img"><%=image_tag "perro.jpg"%></div>
          <div>
            <div class="panel">
              <div class="fb-comments" data-href="http://graph.facebook.com/plupets" data-num-posts="10" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
        <li>
          <div class="img"><%=image_tag "perro1.jpg"%></div>
          <div>
            <div class="panel">
				<div class="fb-comments" data-href="http://www.plupets.com" data-num-posts="10" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
        <li>
          <div class="img"><%=image_tag "perro2.jpg"%></div>
          <div>
            <div class="panel">
              <div class="fb-comments" data-href="http://graph.facebook.com/10151932301815058" data-num-posts="10" data-width="470"></div>
            </div>
            <div class="flip">Show/Hide Panel</div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

