<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://plupets.com" data-text="I found a site called Plupets and it has the cutest pets online. Visit it and subscribe like I did" data-via="maspatas" data-size="large" data-hashtags="RT">Tweet</a>
